body {
  background: #b5c0dd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.center {
  word-wrap: break-word;
  width: 500px;
} 

.card-title {
  color: #154c79;
}

.card {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 8px 17px 0 rgba(225, 227, 225),
      0 6px 20px 0 rgba(225, 227, 225) !important;
}

@media screen and (max-width: 600px) {
  .center {
      width: 300px;
      margin-bottom: 30px;
  }
  .card-title {
      font-size: 20px;
  }
  .card {
      font-size: 15px;
  }
}
@media screen and (max-height: 500px) { 
  .center {
    height: 80%; 
  }

}